//
   Created with JetBrains WebStorm.
   User: KFisher
   Date: 1/29/13
   Time: 8:36 PM
   To change this template use File | Settings | File Templates.
doctype 5
html(lang='en')
    head
        title Sample Page
    body
        h1 My First JadePage
        p  Sample paragraph
